In [26]:
# 1. Read the CSV file in Pandas and create a DataFrame named Grc_df. What is the number of
# rows and columns in Grc_df? Print the first 10 and last 10 rows of Grc_df
import pandas as pd

Grc_df = pd.read_csv("Grocery_dataset.csv")

print("Antall rader og kolonner", Grc_df.shape)

print(" ")
print("-------------her er de første 10 linjene til datasettet-------------")
print(Grc_df.head(10))

print(" ")
print("-------------her er de siste 10 linjene til datasettet-------------")
print(Grc_df.tail(10))

Antall rader og kolonner (5000, 12)

-------------her er de første 10 linjene til datasettet-------------
  Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
0           FDA15        9.300          Low Fat         0.016047
1           DRC01        5.920          Regular         0.019278
2           FDN15       17.500          Low Fat         0.016760
3           FDX07       19.200          Regular         0.000000
4           NCD19        8.930          Low Fat         0.000000
5           FDP36       10.395          Regular         0.000000
6           FDO10       13.650          Regular         0.012741
7           FDP10          NaN          Low Fat         0.127470
8           FDH17       16.200          Regular         0.016687
9           FDU28       19.200          Regular         0.094450

               Item_Type  Item_MRP Outlet_Identifier  \
0                  Dairy  249.8092            OUT049
1            Soft Drinks   48.2692            OUT018
2                   Meat  141.6180            OUT049
3  Fruits and Vegetables  182.0950            OUT010
4              Household   53.8614            OUT013
5           Baking Goods   51.4008            OUT018
6            Snack Foods   57.6588            OUT013
7            Snack Foods  107.7622            OUT027
8           Frozen Foods   96.9726            OUT045
9           Frozen Foods  187.8214            OUT017

   Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
0                       1999      Medium               Tier 1
1                       2009      Medium               Tier 3
2                       1999      Medium               Tier 1
3                       1998         NaN               Tier 3
4                       1987        High               Tier 3
5                       2009      Medium               Tier 3
6                       1987        High               Tier 3
7                       1985      Medium               Tier 3
8                       2002         NaN               Tier 2
9                       2007         NaN               Tier 2

         Outlet_Type  Item_Outlet_Sales
0  Supermarket Type1          3735.1380
1  Supermarket Type2           443.4228
2  Supermarket Type1          2097.2700
3      Grocery Store           732.3800
4  Supermarket Type1           994.7052
5  Supermarket Type2           556.6088
6  Supermarket Type1           343.5528
7  Supermarket Type3          4022.7636
8  Supermarket Type1          1076.5986
9  Supermarket Type1          4710.5350

-------------her er de siste 10 linjene til datasettet-------------
     Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
4990           FDE46        18.60          Low Fat         0.015859
4991           NCQ53        17.60          Low Fat         0.018905
4992           NCN42        20.25          Low Fat         0.014281
4993           DRH11         5.98          Low Fat         0.075675
4994           NCI42        18.75          Low Fat         0.010382
4995           FDT07         5.82          Regular         0.077476
4996           DRL60         8.52          Low Fat         0.027059
4997           FDG20        15.50          Regular         0.126200
4998           FDF56        16.70          Regular         0.119462
4999           FDV33         9.60          Regular         0.027455

                  Item_Type  Item_MRP Outlet_Identifier  \
4990            Snack Foods  152.9366            OUT017
4991     Health and Hygiene  234.6590            OUT046
4992              Household  148.0418            OUT018
4993            Hard Drinks   53.3614            OUT049
4994              Household  207.8954            OUT049
4995  Fruits and Vegetables  255.3330            OUT045
4996            Soft Drinks  153.3682            OUT046
4997  Fruits and Vegetables  178.4028            OUT018
4998  Fruits and Vegetables  182.7976            OUT046
4999            Snack Foods  258.1304            OUT018

      Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
4990                       2007         NaN               Tier 2
4991                       1997       Small               Tier 1
4992                       2009      Medium               Tier 3
4993                       1999      Medium               Tier 1
4994                       1999      Medium               Tier 1
4995                       2002         NaN               Tier 2
4996                       1997       Small               Tier 1
4997                       2009      Medium               Tier 3
4998                       1997       Small               Tier 1
4999                       2009      Medium               Tier 3

            Outlet_Type  Item_Outlet_Sales
4990  Supermarket Type1           453.4098
4991  Supermarket Type1          8508.9240
4992  Supermarket Type2          1177.1344
4993  Supermarket Type1           331.5684
4994  Supermarket Type1          2292.3494
4995  Supermarket Type1          4870.3270
4996  Supermarket Type1           914.8092
4997  Supermarket Type2          1239.7196
4998  Supermarket Type1          1810.9760
4999  Supermarket Type2          2324.9736

In [62]:
# 2. Are there any null values in the Grc_df? If yes, then in which columns and how many?
# Finally, handle these null values using any strategy shown during the labs.

import pandas as pd

Grc_df = pd.read_csv("Grocery_dataset.csv")

print("Antall rader og kolonner", Grc_df.shape)

print("Alle nullverdier: ")
print(Grc_df.isnull().sum())

print("\nEtter å ha fyllt nullverdiene")
Grc_df["Item_Weight"] = Grc_df["Item_Weight"].fillna(Grc_df["Item_Weight"].median())
Grc_df["Outlet_Size"] = Grc_df["Outlet_Size"].fillna("Unknown Size")

print(Grc_df.isnull().sum())

Antall rader og kolonner (5000, 12)
Alle nullverdier:
Item_Identifier                 0
Item_Weight                   818
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1439
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

Etter å ha fyllt nullverdiene
Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [ ]:
# 3. How many unique Outlet Sizes are there in the Grc_df? Which outlet size is maximum, and
# which is minimum?

import pandas as pd

Grc_df = pd.read_csv("Grocery_dataset.csv")

print(Grc_df["Outlet_Size"].unique())

# oppgaven tidligere så fylte jeg inn nullverdiene med "Unknown size", de ulike størrelsene i Grc_df vil da se ut som

Grc_df["Outlet_Size"] = Grc_df["Outlet_Size"].fillna("Unknown Size")
print(Grc_df["Outlet_Size"].unique())

# High er maximum outlet size og small er minimum outlet size
# Unknown size er gitt til det som har nullverdi i datasettet

['Medium' nan 'High' 'Small']
['Medium' 'Unknown Size' 'High' 'Small']

In [ ]:
# 4. How many unique Item Fat Content types are in the Grc_df? List them. Do you see any
# issues with the Item Fat Content types? If yes, then handle this issue.

import pandas as pd

Grc_df = pd.read_csv("Grocery_dataset.csv")

print(Grc_df["Item_Fat_Content"].unique())

# Problemet er at Low fat, low fat og LF sees på ulike verdier, vi må gruppere dem slik at Low fat = low fat & LF
# Samme gjelder med Regular & Reg

Grc_df["Item_Fat_Content"] = Grc_df["Item_Fat_Content"].replace({'low fat' : 'Low Fat', 'LF' : 'Low Fat', 'Low fat' : 'Low fat', 'reg' : 'Regular'})
print("\nEtter å ha fikset på de ulike tittlene med samme betydning")
print(Grc_df["Item_Fat_Content"].unique())

['Low Fat' 'Regular' 'low fat' 'LF' 'reg']

Etter å ha fikset på de ulike tittlene med samme betydning
['Low Fat' 'Regular']

In [75]:
# 5. Drop the columns having index values of 0, 6 and create a new DataFrame Grc_new_df.


import pandas as pd

Grc_df = pd.read_csv("Grocery_dataset.csv")

# new DataFrame Grc_new_df
Grc_new_df = Grc_df.drop(Grc_df.columns[[0, 6]], axis=1)
print(Grc_new_df.head())

   Item_Weight Item_Fat_Content  Item_Visibility              Item_Type  \
0         9.30          Low Fat         0.016047                  Dairy
1         5.92          Regular         0.019278            Soft Drinks
2        17.50          Low Fat         0.016760                   Meat
3        19.20          Regular         0.000000  Fruits and Vegetables
4         8.93          Low Fat         0.000000              Household

   Item_MRP  Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
0  249.8092                       1999      Medium               Tier 1
1   48.2692                       2009      Medium               Tier 3
2  141.6180                       1999      Medium               Tier 1
3  182.0950                       1998         NaN               Tier 3
4   53.8614                       1987        High               Tier 3

         Outlet_Type  Item_Outlet_Sales
0  Supermarket Type1          3735.1380
1  Supermarket Type2           443.4228
2  Supermarket Type1          2097.2700
3      Grocery Store           732.3800
4  Supermarket Type1           994.7052

In [70]:
# 6. Using different Supermarket type listed in the column Outlet_Type create two different
# DataFrames from Grc_new_df. Name these DataFrames as SupType_1 and SupType_2.

import pandas as pd

Grc_df = pd.read_csv("Grocery_dataset.csv")

# new DataFrame Grc_new_df
Grc_new_df = Grc_df.drop(Grc_df.columns[[0, 6]], axis=1)

print(Grc_new_df["Outlet_Type"].unique())
# ['Supermarket Type1' 'Supermarket Type2' 'Grocery Store', 'Supermarket Type3']
# Da deler vi dem i to ulike subtypes: SubType_1 for supermarkets & SubType_2 for Grtocery stores

SubType_1 = Grc_new_df[Grc_new_df["Outlet_Type"].isin(["Supermarket Type1", "Supermarket Type2", "Supermarket Type3"])]
SubType_2 = Grc_new_df[Grc_new_df["Outlet_Type"] == "Grocery Store"]

print("\n-----------------------------Liste av SubType_1----------------------------------")
print(SubType_1["Outlet_Type"].value_counts())

print("\n-----------------------------Liste av SubType_2----------------------------------")
print(SubType_2["Outlet_Type"].value_counts())

['Supermarket Type1' 'Supermarket Type2' 'Grocery Store'
 'Supermarket Type3']

-----------------------------Liste av SubType_1----------------------------------
Outlet_Type
Supermarket Type1    3328
Supermarket Type3     538
Supermarket Type2     526
Name: count, dtype: int64

-----------------------------Liste av SubType_2----------------------------------
Outlet_Type
Grocery Store    608
Name: count, dtype: int64

In [ ]:
# 7. Using Seaborn (“ggplot style”) create a (2,1) subplot of a box plot showing 5-point
# summary of the column Item_MRP for SupType_1 and SupType_2. Which Outlet Type has
# a higher median MRP? Are there any outliers?

In [ ]:
# 8. Concatenate the DataFrames SupType_1 and SupType_2 to create a new DataFrame
# Grc_Concat_df and sort it in ascending order based on the column Item_Outlet_Sales.
# What is the Outlet_Location_type of the store with the lowest sales?

In [ ]:
# 9. Using columns Outlet_Size and Outlet_Location_Type to create a multiple index for
# Grc_Concat_df.

In [ ]:
# 10. Cut the column Item_Weight of Grc_Concat_df into 10 buckets and compute each bucket's
# mean, minimum, maximum, and count.